<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usersOrders</title>
    <link rel="stylesheet" href="css/index.css" type="text/css">
</head>
<body>
    <div class="window">
        <% const back_ = `/profile?Login=${back}&admin=${admin}` %>
        <a class="a-back" href="<%=back_ %>"><i class="arrow-left"></i><p>Вернуться назад</p></a>
        <div>
            <% result.forEach(columns => {
                columns.forEach(function(column, index) {
                    column = Object.values(column) 
                    if (status == 2) { %>
                        <p>Врач: <%= column[0] %></p>
                    <% } else { %>
                        <p>Врач: <a href="/linkProfile?idDoctor=<%=column[7] %>&Login=<%=back %>&admin=<%=admin %>"><%= column[0] %></a></p>
                    <% } %>
                    <p>Специальность: <%= column[6] %></p>
                    <% if(status == 1) { %>
                        <p>Пациент: <%= column[1] %></p>
                    <% } else { %>
                        <p>Пациент: <a href="/linkProfile?idPatient=<%=column[8] %>&Login=<%=back %>&admin=<%=admin %>"><%= column[1] %></a></p>
                    <% } %>
                    <p>Дата: <%= column[2] %></p>
                    <p>Время: <%= column[3] %></p>
                    <% if (column[4] == null) { %>
                        <p>Примечание: отсутствует</p>
                    <% } else { %>
                        <p>Примечание: <%= column[4] %></p>
                    <% } %>
                    <form method="post">
                        <input type="hidden" name="id" value="<%=column[5]%>">
                        <button type="submit">Отменить запись на прием</button>
                    </form>
                    <br>
                <% })
            }) %>
        </div>
    </div>
</body>
</html>